.gnatdebug
.gdb_history
gpsauto.cgpr
liblkqllang.env
lkql/build/*
!lkql/build/railroad-diagrams/
debug/
obj/
bin/
.idea/
testsuite/out/
*.pyc
*.swp
*.npp
*.ali
*.o
lkql/build.sh
testsuite/build
testsuite/libadalang
testsuite/run_testsuite.sh
callgrind*

coding_standard

IL_design\.txt

IL_optimizations\.txt

kp_experiments/

lkql/lkql_generated_sources/

lkql/lkql_src_templates/

lkql/generated_sources/

lkql/src_templates/

lkql_library/

lkql_library_obj/

lkql/lkql_repl/
misc/
testsuite/tmp/
out/
tmp/
.clang-format
asis/
