testsuite/tests/*/*/*.ad[bs] no-precommit-check
testsuite/tests/*/*/*/*.ad[bs] no-precommit-check
testsuite/ada_projects/*/*.ad[bs] no-precommit-check

* text eol=lf
*.bat text eol=crlf
*.png -text
*.jpeg -text

# No needs
*.java no-precommit-check

