include:
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/check-issue@~latest
    inputs:
      stage: checkstyle

stages:
  - checkstyle
  - test

# Common part for all testing CIs
.common-test-part: &common-test-part
  stage: test
  interruptible: true
  script:
    - generic_anod_ci
    - cat /tmp/ci_env.sh
    - . /tmp/ci_env.sh

    - anod run --plan .gitlab-ci.plan $PLAN_ENTRY

    # We must parse testsuite results with the same version of e3-testsuite
    # that produced them. So we install e3-testsuite using the same sandbox as
    # testing.
    - anod install e3-for-testing
    - eval $(anod printenv e3-for-testing)
    - testsuite_reports
  artifacts:
    reports:
      junit: xunit-*.xml

# CIs that are run automatically on each merge request event
test:
  <<: *common-test-part
  services:
    - image:e3
    - cpu:8
    - mem:32
    - disk:100
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  parallel:
    matrix:
      - PLAN_ENTRY: [lkql_jit, lkql_native_jit]

# We also run the integration testsuite to make sure the MR is not breaking the
# GNATstudio integration.
integration-testsuite:
  <<: *common-test-part
  services:
    - image:systemgtk
    - cpu:8
    - mem:32
    - disk:100
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: manual
      allow_failure: true
  parallel:
    matrix:
      - PLAN_ENTRY: [integration_testsuite]

# CIs that are triggered manually
optional:
  <<: *common-test-part
  services:
    - image:e3
    - cpu:16
    - mem:32
    - disk:100
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
  timeout: 2 hours
  parallel:
    matrix:
      - PLAN_ENTRY: [gnatcheck_internal_testsuite]
