gpsauto.cgpr
liblkqllang.env
lkql/build/*
build/
debug/
obj/
.idea/
testsuite/out/
*.pyc
*.swp
*.npp
lkql/build.sh
testsuite/build
testsuite/libadalang
testsuite/run_testsuite.sh
callgrind*

coding_standard

IL_design\.txt

IL_optimizations\.txt

kp_experiments/

lkql/lkql_generated_sources/

lkql/lkql_src_templates/

lkql/generated_sources/

lkql/src_templates/

lkql_library/

lkql_library_obj/

lkql/lkql_repl/

rapport\.pdf

rapport\.synctex\.gz
