repos:
  - repo: local
    hooks:
      - id: gnatformat
        name: Format GNATcheck sources
        entry: gnatformat
        language: system
        files: "^lkql_checker/src/.*\\.ad(b|s)$"

  - repo: local
    hooks:
      - id: maven-spotless
        name: Format LKQL JIT sources
        entry: python
        args:
          - utils/maven_wrapper.py
          - spotless:apply
        language: system
        pass_filenames: false
        require_serial: true
        files: "^lkql_jit/.*\\.java$"

  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black-24.10.0

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
