# IDE - IntelliJ (from https://stackoverflow.com/a/63531264)
/.idea/*
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# Keep the inspection levels
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml

# Ignore from the component module
component/comp_temp
component/target
component/lkql_jit_component.jar

# Ignore from the language module
language/target
language/.apt_generated
language/.apt_generated_tests

# Ignore from the launcher module
launcher/target

# Ignore from the checker module
checker/target

# Ignore from the native module
native/target
native/bin
native/lib
native/reports
native/sources

# Test and log files
my_working_dir
language/src/test/java/TestRun.java
*.log
