# IDE - IntelliJ (from https://stackoverflow.com/a/63531264)
/.idea/*
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# Keep the inspection levels
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml

# Ignore the target of the LKQL JIT project
target

# Ignore from the language module
language/.apt_generated
language/.apt_generated_tests

# Test and log files
*.log
